{% extends "quotes/base.html" %}

{% block content %}

<div style="margin-bottom: 30px; border-bottom: 2px solid; padding-left: 30px; padding-bottom: 20px">
    {% if user.is_authenticated %}
    <a class="btn btn-info" href="{% url 'quotes:add_quote' %}" role="button"> Add quote </a>
    {% endif %}
</div>
<h3>Viewing tag:
    <a href="/tag/{{ tag.name }}/page/1/">life</a>
</h3>
<div class="row">
    <div class="col-md-8">

        {% if latest_quotes_list %}
        {% for quote in latest_quotes_list %}
        <div class="quote" itemscope itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{ quote.quote }}</span>
            <span>by <small class="author" itemprop="author">{{ quote.author }}</small>
                <a href="/author/{{ quote.author.slug }}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                <meta class="keywords" itemprop="keywords" content="change,deep-thoughts,thinking,world" />
                {% for tag in quote.tags.all %}
                <a class="tag" href="/tag/{{ tag.name }}/page/1/">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        {% else %}
        <p>No quotes are available.</p>
        {% endif %}

        <nav>
            <ul class="pager">
                {% if page.previous %}
                <li class="previous">
                    <a href="/page/{{ page.previous }}/"><span aria-hidden="true">&larr;</span> Previous</a>
                </li>
                {% endif %}

                {% if page.next %}
                <li class="next">
                    <a href="/page/{{ page.next }}/">Next <span aria-hidden="true">&rarr;</span></a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>
    <div class="col-md-4 tags-box">

        <h2>Top Ten tags</h2>
        {% for tag in top10tags %}
        <span class="tag-item">
            <a class="tag" style="font-size: {{ tag.size }}px" href="/tag/{{ tag.tag }}/page/1/">{{ tag.tag }}</a>
        </span>
        {% endfor %}

    </div>
</div>

{% endblock %}
